@*@model*@
@{ ViewData["Title"] = "Confirm Email";
    Layout = "_RecoverPasswordLayout"; }
<div class="mx-auto my-auto content-area">
    <img src="~/images/Message Sent.svg" class="img-fluid" alt="Message sent icon" />
    <p class="text-center recovery-instruction">
        Verify your account by entering the 6 digit token sent your registered email.
    </p>
    <form class="form" method="post" asp-action="">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Token       ******" required />
        </div>
        <button type="submit" class="btn btn-block btn-lg">Submit Code</button>
        <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">
            <p class="text-center recovery-instruction mt-4"><small>Didn't receive any mail? Click Here.</small></p>
        </a>
    </form>

</div>