@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="css/theme1.css">
<link rel="stylesheet" href="css/theme2.css">
<link rel="stylesheet" href="css/theme3.css">
<script src="js/caleandar.js"></script>

<p>Use this page to detail your site's privacy policy.</p>
<div class="contianer">
    <div id="caleandar">
        var events = [
        {'Date': new Date(2016, 6, 7), 'Title': 'Doctor appointment at 3:25pm.'},
        {'Date': new Date(2016, 6, 18), 'Title': 'New Garfield movie comes out!', 'Link': 'https://garfield.com'},
        {'Date': new Date(2016, 6, 27), 'Title': '25 year anniversary', 'Link': 'https://www.google.com.au/#q=anniversary+gifts'},
        ];
    </div>
</div>
