@*@model*@
@{ ViewData["Title"] = "Dashboard";
    Layout = "_RecoverPasswordLayout"; }
<div class="container">
    <div class="row pt-5 pb-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">
                        Managers
                    </h2>
                    <h2 class="card-title">
                        <i class="fas fa-ellipsis-h"></i>
                    </h2>
                </div>
                <div class="card-body">
                    <h2 class="card-title">
                        15
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">
                        Hotels
                    </h2>
                        <i class="fas fa-ellipsis-h"></i>
                </div>
                <div class="card-body">
                    <h2 class="card-title">
                        23
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">
                        Transactions
                    </h2>
                    <h2 class="card-title">
                        <i class="fas fa-ellipsis-h"></i>
                    </h2>                   
                </div>
                <div class="card-body d-flex justify-content-between">
                    <h2 class="card-title">
                        N458,000
                    </h2>
                    <h2 class="card-title">
                        +1%
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="pt-5 pb-5">
        <div class="card">
            <div class="card-body">
                <h2 class="card-header">
                    Top Hotels
                </h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="hotel-card">
                            <div class="card-body">
                                <img src="~/images/Rectangle 21.svg" class="card-img-top" alt="hotel image" />
                                <h2 class="card-text mt-2">
                                    The Croniche Hotel Bistro
                                </h2>
                                <p class="hotels-location">Lekki Phase 1, Lagos </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="hotel-card">
                            <div class="card-body">
                                <img src="~/images/Rectangle 22.svg" class="card-img-top" alt="hotel image" />
                                <h2 class="card-text mt-2">
                                    George Town Hotel
                                </h2>
                                <p class="hotels-location">Ikeja, Lagos </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="hotel-card">
                            <div class="card-body">
                                <img src="~/images/Rectangle 23.svg" class="card-img-top" alt="hotel image" />
                                <h2 class="card-text mt-2">
                                    Ibom Hotel and Golf Resort
                                </h2>
                                <p class="hotels-location"> Uyo, Akwa Ibom</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-5 pb-5">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">
                    Transactions
                </h2>
            </div>
        </div>
    </div>
    <div class="row pt-5 pb-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">
                        Calender
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">
                        Hotels By Location
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
