
@using hotel_booking_model.commons
@model PaginationResponse<IEnumerable<ManagerRequestsView>>

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="h2 pt-4">All Managers' Requests</h1>
        </div>
    </div>

    <div id="manager-requests">
        @await Html.PartialAsync("_ManagerRequests", Model)
    </div>
</div>