@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<
<div class="container overflow-auto">
    <div class="d-flex align-items-center justify-content-between mb-0">
        <h1 id="new-name">Managers</h1>

        <span style="font-size: 3em;">
            <i class='bx bx-user-plus'></i>
        </span>
    </div>

    <div class="d-flex flex-row m-0 big-card flex-sm-column flex-lg-row" style="width:95%; margin-right:30px">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body card-description">
                    <div class="d-flex align-items-center mb-4">
                        <img class="card-image" src="https://s3-alpha-sig.figma.com/img/174f/aded/e8628f65c914092552741f716b9b8039?Expires=1635120000&Signature=WnlFV6yJBKgOBU1Lq7xDiPIMYvUDfWxXypcvLKF9ME0U8hBg2Sd0E5G6MpfxpkO3EixwjLSprDcdUZK33ZT9yLXYPm7GJ5MSKWfYF-ZP6e8KMg4mzkUo~F94bUt9vmZKKsgneTRg~T-TxkGJgqJm17yC5ObpcFo5xXaJkUMU1LVhBmexSzzRBqDG85B8gV5RqEQqKwfcDRVvsosazhRjyG~aBqm-PiYz3A0aX1v6Wc5yh9rjAKFq1uO4gZmwediMCOoqrkLvJLhUoOFpYv~w4rMrsGX6uSo-CwjcqUEh2mTUNmv~iKZnPCwqmf-gxDPCIxKVBuTSL673xg-Q3GogyA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="male" class="mr-2 profile-thumbnail">
                        <div style="margin-left:10px;"><p>Angelo Akhuwa<br /><small>28, Male</small></p></div>
                    </div>
                    <p class="card-subtitle mb-2 text-muted">Hotel: Radison Blu Hotels</p>
                    <p class="card-subtitle mb-2 text-muted">Mobile: 08032342134</p>
                    <p class="card-subtitle mb-2 text-muted">Email: angelo.a@email.com</p>
                    <p class="card-subtitle mb-2 text-muted">Address: 23 Ohen Strret, Edo</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 ml-5" style="margin-left: 20px; width: 55%;">
            <div class="card" style=" margin-bottom: 12px;">
                <div class="card-body d-flex flex-column">
                    <p class="card-subtitle mb-2 text-muted" style="margin-left:50px">Additional Records</p>
                    <div class="d-flex justify-content-between">
                        <div style="margin-left:50px">
                            <div>
                                <small class="card-subtitle mb-2 text-muted">Date joined</small>
                                <p class="card-subtitle mb-2 text-muted">12/12/2012</p>
                            </div>

                            <div>
                                <small class="card-subtitle mb-2 text-muted">ManagerID</small>
                                <p class="card-subtitle mb-2 text-muted">10022</p>
                            </div>
                        </div>

                        <div style="margin-right:100px;">
                            <div>
                                <small class="card-subtitle mb-2 text-muted">Last Updated</small>
                                <p class="card-subtitle mb-2 text-muted">14/12/1990</p>
                            </div>
                            <div>
                                <small class="card-subtitle mb-2 text-muted">Total Hotels</small>
                                <p class="card-subtitle mb-2 text-muted">10022</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card" style="">
                <div class="card-body">
                    <p class="card-subtitle mb-2 text-muted" style="margin-left:50px">Total Amount Generated</p>
                    <h3 class="card-subtitle mb-2 text-muted" style="margin-left:50px">#540,000</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="table-container p-1">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td class="text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);"><path d="M7 11h10v2H7zM4 7h16v2H4zm6 8h4v2h-4z"></path></svg>
                    </td>
                    <td>
                        <input class="form-control me-2 search" type="search" placeholder="search" aria-label="Search">
                    </td>
                    <td></td>
                    <td></td>
                    <td class="text-center">
                        <button type="button" style="background-color: rgb(32, 103, 161); border-color:rgb(32, 103, 161); color:#ffffff" active>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #ffffff;">
                            <path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4z"></path>
                            <path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z">
                                </path></svg>Add Customer
                        </button>
                    </td>
                </tr>
                <tr>
                    <th class="text-center"><input type="checkbox" /></th>
                    <th>Manager Name</th>
                    <th>Hotel</th>
                    <th class="text-center">Phone</th>
                    <th class="text-center">...</th>
                </tr>
            </thead>
            <tbody class="s-min">
                @for (int i = 0; i < 15; i++)
                {
                    <tr>
                        <td class="text-center"><input type="checkbox" /></td>
                        <td class="hotel-name mr-0">
                            Kadin Herwitz <br />
                            <span class="hotel-id">5684236583</span>
                        </td>
                        <td class="hotel-description ">
                            Lorem ipsum dolor sitamet, consecteur
                        </td>
                        <td class="text-center">66666666</td>
                        <td class="text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(125,144,178, 0.8); transform:; msFilter:;"><path d="M8.707 19.707 18 10.414 13.586 6l-9.293 9.293a1.003 1.003 0 0 0-.263.464L3 21l5.242-1.03c.176-.044.337-.135.465-.263zM21 7.414a2 2 0 0 0 0-2.828L19.414 3a2 2 0 0 0-2.828 0L15 4.586 19.414 9 21 7.414z"></path></svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(125,144,178, 0.8); transform:; msFilter:;"><path d="M6 7H5v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7H6zm4 12H8v-9h2v9zm6 0h-2v-9h2v9zm.618-15L15 2H9L7.382 4H3v2h18V4z"></path></svg>...
                        </td>
                    </tr>
                }
            </tbody> 
        </table>
    </div>
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination" style="float:right">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>
