<style>
    #new-name {
        Font-family: Aribau Grotesk;
        Font-style: normal;
        Font-size: 40px;
        text-align: Left;
        Vertical-align: Top
    }

    .profile-thumbnail {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin-right: 10px;
    }

    .table {
        color: #1A2E3D
    }

    .page-item {
        position: absolute;
        width: 1020px;
        height: 45px;
        left: -4px;
        top: 1248px;
    }

</style>
<div class="content-container">
    <div class="d-flex align-items-center mb-0">
        <h1 id="new-name">USERS</h1>
    </div>
    <span class="user-plus">
        <i class="fa fa-user-plus" aria-hidden="true"></i>
    </span>
    <div class="d-flex flex-row justify-content-between m-0">
        <div class="col-md-6 mr-2">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <img src="~/img/Bootstrap image 1.jpg" alt="..." class="mr-2 profile-thumbnail">
                        <div><p>Angelo Akhuwa<br /><small>28, Male</small></p></div>
                    </div>
                    <table class="table">
                        <tr>
                            <td>Hotel:</td>
                            <td>Radison Blu Hotels</td>
                        <tr>
                            <td>Mobile:</td>
                            <td>08036903126</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>angelo.a@email.com</td>
                        </tr>
                        <tr>
                            <td>Address:</td>
                            <td>23, Ohen Street, Edo</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 mr-2">
            <div class="card">
                <div class="card-body">
                    <p>Additional Records</p>
                    <p>Date Joined Last Update</p>
                    <p>Mobile: 08036903126</p>
                    <p>Email: angelo.a@email.com</p>
                    <p>Address: 23 Ohen Street, Edo</p>
                </div>
            </div>
        </div>

    </div>
    <div>
        <div>
            <table class="table table-striped">
                <tr>
                    <th><input type="checkbox" /></th>
                    <th>USERSNAME</th>
                    <th>HOTEL</th>
                    <th>PHONE</th>
                    <th>...</th>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Kadin Herwitz
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur
                    </td>
                    <td>66666666</td>
                    <td>
                        <i class='bx bxs-pencil'></i>
                        <i class='bx bx-trash'></i>
                        <i class='bx bx-dots-horizontal-rounded'></i>
                    </td>

                </tr>

                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Cristofer Korsgaard
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur
                    </td>
                    <td>77877777</td>
                    <td>
                        <i class='bx bxs-pencil'></i>
                        <i class='bx bx-trash'></i>
                        <i class='bx bx-dots-horizontal-rounded'></i>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Kadin Herwitz
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur
                    </td>
                    <td>66666666</td>
                    <td>
                        <i class='bx bxs-pencil'></i>
                        <i class='bx bx-trash'></i>
                        <i class='bx bx-dots-horizontal-rounded'></i>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Cristofer Korsgaard
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur
                    </td>
                    <td>77877777</td>
                    <td>
                        <i class='bx bxs-pencil'></i>
                        <i class='bx bx-trash'></i>
                        <i class='bx bx-dots-horizontal-rounded'></i>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Kadin Herwitz
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur
                    </td>
                    <td>66666666</td>
                    <td>
                        <i class='bx bxs-pencil'></i>
                        <i class='bx bx-trash'></i>
                        <i class='bx bx-dots-horizontal-rounded'></i>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Cristofer Korsgaard
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur
                    </td>
                    <td>77877777</td>
                    <td>
                        <i class='bx bxs-pencil'></i>
                        <i class='bx bx-trash'></i>
                        <i class='bx bx-dots-horizontal-rounded'></i>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Kadin Herwitz
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur
                    </td>
                    <td>66666666</td>
                    <td>
                        <i class='bx bxs-pencil'></i>
                        <i class='bx bx-trash'></i>
                        <i class='bx bx-dots-horizontal-rounded'></i>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Cristofer Korsgaard
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur
                    </td>
                    <td>77877777</td>
                    <td>
                        <i class='bx bxs-pencil'></i>
                        <i class='bx bx-trash'></i>
                        <i class='bx bx-dots-horizontal-rounded'></i>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Kadin Herwitz
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur
                    </td>
                    <td>66666666</td>
                    <td>
                        <i class='bx bxs-pencil'></i>
                        <i class='bx bx-trash'></i>
                        <i class='bx bx-dots-horizontal-rounded'></i>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Cristofer Korsgaard
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur
                    </td>
                    <td>77877777</td>
                    <td>
                        <i class='bx bxs-pencil'></i>
                        <i class='bx bx-trash'></i>
                        <i class='bx bx-dots-horizontal-rounded'></i>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Kadin Herwitz
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur
                    </td>
                    <td>66666666</td>
                    <td>
                        <i class='bx bxs-pencil'></i>
                        <i class='bx bx-trash'></i>
                        <i class='bx bx-dots-horizontal-rounded'></i>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Cristofer Korsgaard
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur
                    </td>
                    <td>77877777</td>
                    <td>
                        <i class='bx bxs-pencil'></i>
                        <i class='bx bx-trash'></i>
                        <i class='bx bx-dots-horizontal-rounded'></i>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Kadin Herwitz
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur
                    </td>
                    <td>66666666</td>
                    <td>
                        <i class='bx bxs-pencil'></i>
                        <i class='bx bx-trash'></i>
                        <i class='bx bx-dots-horizontal-rounded'></i>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Cristofer Korsgaard
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur
                    </td>
                    <td>77877777</td>
                    <td>
                        <i class='bx bxs-pencil'></i>
                        <i class='bx bx-trash'></i>
                        <i class='bx bx-dots-horizontal-rounded'></i>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Kadin Herwitz
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur
                    </td>
                    <td>66666666</td>
                    <td>
                        <i class='bx bxs-pencil'></i>
                        <i class='bx bx-trash'></i>
                        <i class='bx bx-dots-horizontal-rounded'></i>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Cristofer Korsgaard
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur
                    </td>
                    <td>77877777</td>
                    <td>
                        <i class='bx bxs-pencil'></i>
                        <i class='bx bx-trash'></i>
                        <i class='bx bx-dots-horizontal-rounded'></i>
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            <li class="page-item active" aria-current="page">
                <span class="page-link" style="background-color: #2067A1; border-color: #2067A1; ">1</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>


</div>


   
