
@{
    ViewData["Title"] = "HotelListing";

}

   
    <div style="background-color: #F6FCFF;">
       
        <div class="container">
            <div class="row p-3" style="background-color: #F6FCFF; border-bottom: 1px solid #aaa;">
                <div class="col">
                    <h2 style="color: #173752;">Listing</h2>
                </div>
                <div class="col col-lg-2" style="display: flex; justify-self: start;">
                    <p class="me-2" style="color: #173752; font-size: 13px">Sort by</p>
                    <select name="" id="" style="width: 120px; border-radius: 5px; height: 30px; outline: none;">
                    </select>
                </div>
            </div>


            <div class="row m-3 d-flex justify-content-between">
                <div class="col-sm-6 mb-2 col-md-6 col-lg-6 d-flex justify-content-left">
                    <div class="d-flex justify-content-between">
                        <button style="border: #2067A1 1px solid; color: #2067A1;" type="button" class="btn btn-outline-primary">All</button>
                        <button style="border: #2067A1 1px solid; color: #2067A1;" type="button" class="btn btn-outline-primary">Hotel</button>
                    </div>
                    <button style="border: #2067A1 1px solid; color: #2067A1;" type="button" class="btn btn-outline-primary">House/Apartment</button>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-end">
                    <div class="d-flex justify-content-between">
                        <button style="border: #2067A1 1px solid; color: #2067A1; text-wrap:none;" type="button" class="btn btn-outline-primary">Top picks</button>
                        <button style="border: #2067A1 1px solid; color: #2067A1; text-wrap:none;" type="button" class="btn btn-outline-primary">Stars(highest first)</button>
                    </div>
                    <button style="border: #2067A1 1px solid; color: #2067A1; text-wrap:none" type="button" class="btn btn-outline-primary">Starts(lowest first)</button>

                </div>

            </div>
            <div class="row">
                <div class="col-10 mx-auto">
                    <div class="card mb-3">
                        <div class="row g-0 d-flex justify-content-left">
                            <div class="col-md-4">
                                <img src="~/img/Rectangle 21.png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="d-flex justify-content-between">
                                            <div>

                                                <h5 class="card-title" style="color: #2067A1;">The Chronicles Hotel Bristo</h5>
                                                <p  style="font-size: 13px;">Lekki Phase 1, Lagos</p>
                                            </div>
                                            <div>
                                                <div class="d-flex justify-content-between">

                                                    <div>
                                                        <h6>Very Good</h6>
                                                        <p style="font-size: 11px;" >
                                                            <small class="text-muted">
                                                                121 Reviews
                                                            </small>
                                                        </p>
                                                    </div>
                                                    <div style="width: 35px; height: 35px; text-align:center; background-color:#2067A1; border-radius: 5px 0 5px 0; margin-left: 5px;">
                                                        <h4 style="color: white;">8.1</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br />
                                    <p >
                                        Offering an outdoor pool and restaurant. Sheraton Hotel
                                        is located in Lagos. Free WiFi access is availabel. Each room here will
                                        provide you with TV, Air conditioning and seating area.
                                    </p>
                                    <p >
                                        <small class="text-muted">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </small>
                                    </p>


                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="card mb-3">
                        <div class="row g-0 d-flex justify-content-left">
                            <div class="col-md-4">
                                <img src="~/img/Rectangle 21 (2).png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="d-flex justify-content-between">
                                            <div>

                                                <h5 class="card-title" style="color: #2067A1;">Presken Hotels Opebi Lagos</h5>
                                                <p  style="font-size: 13px;">Abel Oreniyi street, off Salvation road, Opebi, Ikeja</p>
                                            </div>
                                            <div>
                                                <div class="d-flex justify-content-between">

                                                    <div>
                                                        <h6>Very Good</h6>
                                                        <p style="font-size: 11px;" >
                                                            <small class="text-muted">
                                                                121 Reviews
                                                            </small>
                                                        </p>
                                                    </div>
                                                    <div style="width: 35px; height: 35px; text-align:center; background-color:#2067A1; border-radius: 5px 0 5px 0; margin-left: 5px;">
                                                        <h4 style="color: white;">8.1</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br />
                                    <p >
                                        Located in Ikeja, 5km from Kalakuta Museum, Presken Hotels Opebi Lagos provides accomodation with restaurant, free private parking,
                                        a fitness center and a bar.

                                    </p>
                                    <p >
                                        <small class="text-muted">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </small>
                                    </p>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="row g-0 d-flex justify-content-left">
                            <div class="col-md-4">
                                <img src="~/img/Rectangle 21 (3).png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="d-flex justify-content-between">
                                            <div>

                                                <h5 class="card-title" style="color: #2067A1;">Presken Residence Annex</h5>
                                                <p  style="font-size: 13px;">Ikeja GRA, Lagos</p>
                                            </div>

                                            <div>
                                                <div class="d-flex justify-content-between">

                                                    <div>
                                                        <h6>Very Good</h6>
                                                        <p style="font-size: 11px;" >
                                                            <small class="text-muted">
                                                                121 Reviews
                                                            </small>
                                                        </p>
                                                    </div>

                                                    <div style="width: 35px; height: 35px; text-align:center; background-color:#2067A1; border-radius: 5px 0 5px 0; margin-left: 5px;">
                                                        <h4 style="color: white;">8.1</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br />
                                    <p >
                                        Set in Ikeja, 5km from Ikeja City Mall. Presken Residence Annex features a mall.
                                    </p>
                                    <p >
                                        <small class="text-muted">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </small>
                                    </p>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="row g-0 d-flex justify-content-left">
                            <div class="col-md-4">
                                <img src="~/img/Rectangle 22.png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="d-flex justify-content-between">
                                            <div>

                                                <h5 class="card-title" style="color: #2067A1;">Radisson Hotel Ikeja</h5>
                                                <p  style="font-size: 13px;">Ikeja GRA, Lagos</p>
                                            </div>

                                            <div>
                                                <div class="d-flex justify-content-between">

                                                    <div>
                                                        <h6>Very Good</h6>
                                                        <p style="font-size: 11px;" >
                                                            <small class="text-muted">
                                                                121 Reviews
                                                            </small>
                                                        </p>
                                                    </div>

                                                    <div style="width: 35px; height: 35px; text-align:center; background-color:#2067A1; border-radius: 5px 0 5px 0; margin-left: 5px;">
                                                        <h4 style="color: white;">8.1</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br />
                                    <p >
                                       Set in Ikeja, Radisson Hotel Ikeja features a garden. This hotel has air conditioned rooms with private bathrooms.
                                       The property features a terrace and a 24 hour front desk.
                                       
                                    </p>
                                    <p >
                                        <small class="text-muted">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </small>
                                    </p>


                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="row g-0 d-flex justify-content-left">
                            <div class="col-md-4">
                                <img src="~/img/Rectangle 21 (1).png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="d-flex justify-content-between">
                                            <div>

                                                <h5 class="card-title" style="color: #2067A1;">Fraser Suites Abuja</h5>
                                                <p  style="font-size: 13px;">Leventis Close, Central Business District, Abuja</p>
                                            </div>

                                            <div>
                                                <div class="d-flex justify-content-between">

                                                    <div>
                                                        <h6>Very Good</h6>
                                                        <p style="font-size: 11px;" >
                                                            <small class="text-muted">
                                                                121 Reviews
                                                            </small>
                                                        </p>
                                                    </div>

                                                    <div style="width: 35px; height: 35px; text-align:center; background-color:#2067A1; border-radius: 5px 0 5px 0; margin-left: 5px;">
                                                        <h4 style="color: white;">8.1</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br />
                                    <p >
                                        Showcasing a year-round outdoor pool. Fraser Suites Abuja is located in Abuja. 
                                        Free WiFi is available throughout the property and free private parking is available on site.
                                    </p>
                                    <p >
                                        <small class="text-muted">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </small>
                                    </p>


                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                
                <div class="col-10 mx-auto mb-5 d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

           


        </div>

       
    </div>
  