@{

    ViewData["Title"] = "Hotel Rooms";
}
<div class="container pb-5">

    <div class="row">
        <div class="col">
            <div class="container__hotel_details">
                <div class="media">
                    <div class="d-flex" style="display:flex; justify-content:center">
                        <h1>Middleton Hotel</h1>    <!--Hotel Name-->
                        <span class="rating__btn__util ml-3" style="margin-left:5%; margin-top:1%; height:10%;">
                            <small>4.5</small>                  <!--Hotel Rating-->
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                                <path d="M4.00665 0.794671L0.233726 8.08151C-0.314906 9.14107 0.135284 10 1.23919 10H8.7608C9.86472 10 10.3149 9.14107 9.76626 8.08151L5.99344 0.794671C5.44483 -0.264891 4.55531 -0.264891 4.00665 0.794671Z" fill="#00B28B" />
                            </svg>
                        </span>
                    </div>
                    <div>
                        <h2>Single Room Type</h2>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-7">

            <div class=" flow-vr d-flex flex-column">
                <div class="wrapper__main__image">
                    <img class="img-fluid" src="https://s3-alpha-sig.figma.com/img/fe14/901d/2a9b8f140a70f90af3711822508d11b3?Expires=1634515200&Signature=P8fsKPONKiQ3nCLol4Gkz6h6CT4Ivj5GYKMSUqbkpLn20LJXzubPCwuVeXJ2RBw4I7pjqJfGkaP66SXc-U2hrZjhwvTHiRgie3XVdrp9XiIIcCVIvcHcd-65qnSC64Qtz0G4sNNCRUWZ8JLa9T5~c0sg2EKmUZa4whmb~5xXiGcV6c8-gZ9KXht3M-ekTnFawATGD2W9lkfKS0Uw6gN92Rd9M2NmRX4HqzHVYoer5XGJGNTKlWjx-VfyTrj8scLkSDkbnjAZmWsz5LbCCZXA2P5KlB386CG-5xhv8F1xZXuKwGuehixH1ABCC9aEuBdruZFflOh1Qj8F7jR~er0Gxg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="Room Type image" />
                </div>

                <div class="room-description">
                    <p>
                        This is a unique and exclusive brand that offers a fusion of African and
                        international hospitality services at 61, Joel Ogunaike Street, Georgia, Lagos.
                        Georgetown Hotel is an urban retreat centre built with a mix of classic British
                        concepts and contemporary style. It is a perfect destination for high-profile
                        executives, foreigners and top government officials.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-5">
            <div class="flow-vr d-flex flex-column">
                <div class="container__hotel__service__card d-flex flex-row align-items-center py-4 px-4">
                    <div class="border__thin__util pe-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="67" height="49" viewBox="0 0 67 49" fill="none">
                            <path d="M64.5118 27.6539H55.3658V19.8013H64.5118C65.886 19.8013 67 18.8071 67 17.5791C67 16.3511 65.886 15.3563 64.5118 15.3563H55.3658V4.46037C55.3658 2.86985 55.014 1.70244 54.3205 0.991314C53.6614 0.314799 52.7947 0 51.5946 0C50.4495 0 49.6155 0.312627 48.9691 0.984921C48.2837 1.69678 47.9357 2.86635 47.9357 4.46109V15.3576H30.7318L23.4168 5.46881C22.7908 4.58629 22.2022 3.75961 21.6305 2.9661C21.1159 2.25147 20.6139 1.66964 20.1397 1.23519C19.72 0.850559 19.2417 0.552887 18.6822 0.324086C18.1543 0.108792 17.4832 0.000723737 16.6892 0.000723737C15.6765 0.000723737 14.7572 0.248582 13.8769 0.757808C13.0059 1.26149 12.4037 1.88421 12.0359 2.66167C11.7131 3.40055 11.5424 4.53274 11.5424 5.9942V15.3569H2.48728C1.11329 15.357 0 16.3518 0 17.5797C0 18.8077 1.11329 19.8019 2.48741 19.8019H11.5425V27.6553H2.48741C1.11329 27.6553 0 28.6499 0 29.8782C0 31.1058 1.11329 32.0997 2.48741 32.0997H11.5425V44.54C11.5425 46.0835 11.9055 47.2391 12.6246 47.9733C13.3084 48.6735 14.1754 48.9986 15.3529 48.9986C16.4888 48.9986 17.3491 48.6721 18.0625 47.9706C18.793 47.252 19.1625 46.0971 19.1625 44.5401V32.0997H34.7302L43.1547 43.6402C43.7405 44.4031 44.3453 45.1731 44.9485 45.9281C45.4927 46.6061 46.0865 47.2035 46.713 47.7024C47.2772 48.1538 47.882 48.4845 48.5107 48.6863C49.158 48.8945 49.9144 49 50.7539 49C53.0322 49 55.3656 48.3769 55.3656 43.7559V32.0997H64.5115C65.8858 32.0997 66.9997 31.1044 66.9997 29.8768C67 28.6492 65.886 27.6539 64.5118 27.6539ZM47.9356 19.8012V27.6538H39.8295L34.0213 19.8012H47.9356ZM19.1627 10.7783L22.5055 15.3563H19.1627V10.7783ZM19.1627 27.6539V19.8013H25.7514L31.4847 27.6539H19.1627ZM47.9356 38.6143L43.1181 32.0997H47.9356V38.6143Z" fill="#173752" />
                        </svg>
                    </div>
                    <div class="ms-3">
                        <p class="text-uppercase">200,000</p>
                        <p class="text-uppercase">Per Night</p>
                    </div>
                </div>

                <div class="container__hotel__service__card d-flex flex-row align-items-center py-4 px-4">
                    <div class="border__thin__util pe-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="65" height="65" viewBox="0 0 85 85" fill="none">
                            <path d="M42.5018 0C19.026 0 0.00177002 19.0293 0.00177002 42.5C0.00177002 65.9734 19.0284 85 42.5018 85C65.9725 85 84.9991 65.9734 84.9991 42.5C84.9991 19.0319 65.9725 0 42.5018 0ZM42.5018 77.0311C23.43 77.0311 7.97065 61.5718 7.97065 42.5C7.97065 23.4282 23.4327 7.96888 42.5018 7.96888C61.5709 7.96888 77.0302 23.4282 77.0302 42.5C77.0302 61.5718 61.5712 77.0311 42.5018 77.0311ZM59.2044 24.4216C57.398 23.3433 55.0898 23.9833 54.0513 25.8559L39.8004 51.4542L31.8636 41.7934C30.4266 40.1386 28.5169 39.2807 26.7132 40.3591C24.9068 41.4401 24.1604 44.0407 25.3294 45.7089L36.374 59.1521C37.2001 60.2251 38.1429 60.8681 39.1286 61.0515L39.1366 61.0675L39.2376 61.0729C39.4608 61.1073 42.7971 61.7236 44.2341 59.1524L60.5915 29.7717C61.6294 27.8958 61.0107 25.5026 59.2044 24.4216Z" fill="#3DB39E" />
                        </svg>
                    </div>
                    <div class="ms-3">
                        <p class="text-uppercase">Pool</p>
                    </div>
                </div>

                <div class="container__hotel__service__card d-flex flex-row align-items-center py-3 px-3">
                    <div class="border__thin__util pe-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="68" height="86" viewBox="0 0 68 86" fill="none">
                            <path d="M16.5642 62.3232H10.4112C10.1395 62.3229 9.87891 62.2149 9.68674 62.0227C9.49457 61.8305 9.3865 61.57 9.38623 61.2982V42.8412C9.38627 42.7016 9.41475 42.5634 9.46994 42.4352C9.52513 42.3069 9.60587 42.1912 9.70723 42.0952C9.91592 41.9059 10.1907 41.8064 10.4722 41.8182C12.5852 41.9432 19.6142 42.4832 21.3722 44.1492C21.4842 44.2553 21.5707 44.3853 21.6252 44.5296C21.6798 44.6738 21.701 44.8286 21.6872 44.9822C21.2222 50.3142 17.6872 61.1622 17.5372 61.6222C17.4702 61.8274 17.34 62.0062 17.1652 62.133C16.9905 62.2598 16.7801 62.3281 16.5642 62.3282V62.3232ZM11.4382 60.2712H15.8162C16.5792 57.8632 19.0392 49.8812 19.5812 45.3892C18.2912 44.7622 14.7332 44.1972 11.4372 43.9352L11.4382 60.2712Z" fill="#173752" />
                            <path d="M36.8642 66.3612C35.3953 66.2869 33.9532 65.9386 32.6122 65.3342L17.2672 60.2192C17.136 60.1796 17.014 60.1141 16.9086 60.0265C16.8031 59.939 16.7163 59.8311 16.6532 59.7094C16.5902 59.5877 16.5522 59.4546 16.5415 59.3179C16.5308 59.1813 16.5476 59.0438 16.5909 58.9138C16.6343 58.7837 16.7033 58.6637 16.7938 58.5608C16.8844 58.4579 16.9947 58.3742 17.1181 58.3147C17.2416 58.2551 17.3758 58.221 17.5127 58.2142C17.6496 58.2074 17.7865 58.2282 17.9152 58.2752L33.2982 63.4032C36.9982 64.7972 37.2982 64.9112 45.9172 61.3762L56.0822 56.7532C55.5196 56.0713 54.7747 55.5635 53.9343 55.289C53.094 55.0146 52.1929 54.9848 51.3362 55.2032L43.4822 57.1632C43.3512 57.1975 43.2147 57.2054 43.0807 57.1866C42.9466 57.1678 42.8175 57.1226 42.701 57.0536C42.5845 56.9847 42.4828 56.8933 42.4018 56.7848C42.3208 56.6763 42.2621 56.5529 42.229 56.4215C42.196 56.2902 42.1893 56.1537 42.2094 56.0198C42.2294 55.8859 42.2758 55.7573 42.3458 55.6414C42.4159 55.5255 42.5082 55.4246 42.6174 55.3446C42.7266 55.2646 42.8506 55.207 42.9822 55.1752L50.8392 53.2102C52.3279 52.8299 53.902 52.9728 55.2978 53.6149C56.6937 54.257 57.8264 55.3594 58.5062 56.7372C58.5681 56.8604 58.6044 56.9949 58.6131 57.1325C58.6217 57.2701 58.6025 57.408 58.5566 57.538C58.5106 57.668 58.4389 57.7873 58.3457 57.8889C58.2525 57.9905 58.1398 58.0723 58.0142 58.1292L46.7322 63.2572C41.3802 65.4512 38.9442 66.3572 36.8632 66.3572L36.8642 66.3612Z" fill="#173752" />
                            <path d="M38.9783 58.0661C38.5056 58.0668 38.034 58.0209 37.5703 57.9291L28.6703 56.1481C28.534 56.1265 28.4035 56.0776 28.2866 56.0043C28.1697 55.931 28.0688 55.8349 27.9899 55.7217C27.911 55.6084 27.8558 55.4805 27.8276 55.3454C27.7994 55.2103 27.7988 55.071 27.8257 54.9357C27.8526 54.8003 27.9066 54.6718 27.9844 54.5579C28.0622 54.4439 28.1622 54.3469 28.2784 54.2725C28.3946 54.1981 28.5247 54.148 28.6607 54.125C28.7968 54.1021 28.9361 54.1069 29.0703 54.1391L37.9703 55.9201C38.7143 56.0688 39.4822 56.0503 40.2183 55.8661L42.1873 55.3741C42.0623 53.5011 41.1493 52.6071 38.8763 52.0401L20.4433 47.9401C20.1776 47.8809 19.9463 47.7186 19.8002 47.4889C19.6542 47.2592 19.6052 46.9809 19.6643 46.7151C19.7263 46.4511 19.8892 46.2218 20.1181 46.0762C20.347 45.9306 20.6238 45.8804 20.8893 45.9361L39.3503 50.0361C42.7503 50.8841 44.2553 52.6721 44.2553 55.8361V56.1611C44.2553 56.3898 44.1788 56.6119 44.038 56.792C43.8972 56.9722 43.7002 57.1 43.4783 57.1551L40.7173 57.8431C40.1489 57.9853 39.5651 58.0569 38.9793 58.0561L38.9783 58.0661Z" fill="#173752" />
                            <path d="M57.5892 41.8112H18.6162C18.3444 41.8112 18.0837 41.7032 17.8915 41.511C17.6992 41.3188 17.5912 41.0581 17.5912 40.7862C17.5912 40.5144 17.6992 40.2537 17.8915 40.0614C18.0837 39.8692 18.3444 39.7612 18.6162 39.7612H57.5892C57.8611 39.7612 58.1218 39.8692 58.314 40.0614C58.5063 40.2537 58.6143 40.5144 58.6143 40.7862C58.6143 41.0581 58.5063 41.3188 58.314 41.511C58.1218 41.7032 57.8611 41.8112 57.5892 41.8112Z" fill="#173752" />
                            <path d="M55.5372 41.8111H20.6682C20.3965 41.8109 20.1359 41.7028 19.9438 41.5106C19.7516 41.3185 19.6435 41.0579 19.6432 40.7861V39.7621C19.6791 34.8896 21.6399 30.2289 25.098 26.7962C28.5561 23.3634 33.2311 21.437 38.1038 21.437C42.9764 21.437 47.6514 23.3634 51.1095 26.7962C54.5676 30.2289 56.5284 34.8896 56.5642 39.7621V40.7871C56.5632 41.059 56.4546 41.3194 56.2622 41.5115C56.0697 41.7035 55.8091 41.8116 55.5372 41.8121V41.8111ZM21.6932 39.7601H54.5123C54.4785 35.4303 52.7347 31.2892 49.661 28.2394C46.5873 25.1896 42.4328 23.4782 38.1028 23.4782C33.7727 23.4782 29.6182 25.1896 26.5445 28.2394C23.4708 31.2892 21.727 35.4303 21.6932 39.7601Z" fill="#173752" />
                            <path d="M25.1302 37.7101C25.05 37.7108 24.97 37.701 24.8922 37.6811C24.6277 37.618 24.3989 37.4525 24.2561 37.221C24.1133 36.9896 24.068 36.7109 24.1302 36.4461C24.8682 33.2973 26.6513 30.4913 29.1887 28.4859C31.7261 26.4804 34.868 25.3938 38.1022 25.4031C38.3741 25.4031 38.6348 25.5111 38.827 25.7034C39.0192 25.8956 39.1272 26.1563 39.1272 26.4281C39.1272 26.7 39.0192 26.9607 38.827 27.1529C38.6348 27.3451 38.3741 27.4531 38.1022 27.4531C35.3301 27.4457 32.6372 28.3774 30.4624 30.0963C28.2876 31.8153 26.7592 34.2203 26.1262 36.9191C26.0732 37.1444 25.9455 37.345 25.7639 37.4884C25.5824 37.6319 25.3576 37.7097 25.1262 37.7091L25.1302 37.7101Z" fill="#173752" />
                            <path d="M41.1782 23.3512C40.9072 23.3506 40.6473 23.2429 40.4555 23.0514C40.2636 22.8599 40.1553 22.6002 40.1542 22.3292V21.3012C40.1665 21.0243 40.1225 20.7479 40.025 20.4885C39.9275 20.2292 39.7785 19.9922 39.5869 19.792C39.3953 19.5918 39.1652 19.4324 38.9104 19.3236C38.6556 19.2147 38.3813 19.1586 38.1042 19.1586C37.8271 19.1586 37.5529 19.2147 37.2981 19.3236C37.0433 19.4324 36.8131 19.5918 36.6216 19.792C36.43 19.9922 36.281 20.2292 36.1835 20.4885C36.086 20.7479 36.042 21.0243 36.0542 21.3012V22.3292C36.0542 22.6015 35.946 22.8628 35.7534 23.0554C35.5608 23.248 35.2996 23.3562 35.0272 23.3562C34.7549 23.3562 34.4936 23.248 34.301 23.0554C34.1084 22.8628 34.0002 22.6015 34.0002 22.3292V21.3012C34.0002 20.2138 34.4322 19.1709 35.2011 18.402C35.97 17.6331 37.0129 17.2012 38.1002 17.2012C39.1876 17.2012 40.2305 17.6331 40.9994 18.402C41.7683 19.1709 42.2002 20.2138 42.2002 21.3012V22.3292C42.2 22.6001 42.0922 22.8599 41.9006 23.0515C41.709 23.2431 41.4492 23.3509 41.1782 23.3512Z" fill="#173752" />
                            <path d="M51.4362 45.9131H24.7703C24.498 45.9122 24.2369 45.8045 24.0432 45.6131L19.9433 41.5131C19.751 41.3208 19.6429 41.0601 19.6429 40.7881C19.6429 40.5162 19.751 40.2554 19.9433 40.0631C20.1355 39.8708 20.3963 39.7628 20.6682 39.7628C20.9402 39.7628 21.201 39.8708 21.3932 40.0631L25.1933 43.8631H51.0093L54.8092 40.0631C55.0015 39.8708 55.2623 39.7628 55.5342 39.7628C55.8062 39.7628 56.067 39.8708 56.2593 40.0631C56.4515 40.2554 56.5596 40.5162 56.5596 40.7881C56.5596 41.0601 56.4515 41.3208 56.2593 41.5131L52.1592 45.6131C51.9661 45.8053 51.7047 45.9131 51.4323 45.9131H51.4362Z" fill="#173752" />
                        </svg>
                    </div>
                    <div class="ms-3">
                        <p class="text-uppercase">Room Service 24H</p>
                    </div>
                </div>

                <div class="container__hotel__service__card d-flex flex-row align-items-center py-2 px-2">
                    <div class="border__thin__util pe-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="68" height="86" viewBox="0 0 68 86" fill="none">
                            <path d="M54.7999 17.1987C54.5013 17.1907 54.2091 17.2857 53.9723 17.4678C53.7355 17.65 53.5687 17.908 53.4999 18.1987L50.2999 30.6987H29.6999C28.7716 30.6987 27.8814 31.0675 27.225 31.7238C26.5687 32.3802 26.1999 33.2705 26.1999 34.1987C26.1999 35.127 26.5687 36.0172 27.225 36.6736C27.8814 37.33 28.7716 37.6987 29.6999 37.6987H49.1999C49.5447 37.6987 49.8753 37.5618 50.1191 37.318C50.3629 37.0742 50.4999 36.7435 50.4999 36.3987C50.4999 36.0539 50.3629 35.7233 50.1191 35.4795C49.8753 35.2357 49.5447 35.0987 49.1999 35.0987H29.6999C29.4612 35.0987 29.2323 35.0039 29.0635 34.8351C28.8947 34.6663 28.7999 34.4374 28.7999 34.1987C28.7999 33.96 28.8947 33.7311 29.0635 33.5623C29.2323 33.3935 29.4612 33.2987 29.6999 33.2987H55.0999C55.2313 33.295 55.362 33.32 55.4829 33.3718C55.6037 33.4236 55.7119 33.501 55.7999 33.5987C55.9567 33.7963 56.0286 34.0481 55.9999 34.2987L51.4999 51.9987H14.4999C13.0147 51.9987 11.5903 52.5887 10.5401 53.6389C9.4899 54.6891 8.8999 56.1135 8.8999 57.5987C8.8999 59.0839 9.4899 60.5083 10.5401 61.5585C11.5903 62.6087 13.0147 63.1987 14.4999 63.1987H53.4999C54.9347 63.1944 56.3134 62.6412 57.3533 61.6526C58.3931 60.664 59.0152 59.315 59.092 57.8822C59.1688 56.4495 58.6943 55.0417 57.766 53.9477C56.8378 52.8536 55.526 52.1563 54.0999 51.9987L58.3999 34.9987C58.5246 34.4851 58.5354 33.9505 58.4318 33.4323C58.3282 32.9141 58.1125 32.4248 57.7999 31.9987C57.5043 31.5633 57.0989 31.2138 56.6248 30.9855C56.1506 30.7572 55.6246 30.6583 55.0999 30.6987H52.9999L55.9999 18.8987C56.076 18.5542 56.0138 18.1936 55.8268 17.8944C55.6398 17.5952 55.3429 17.3813 54.9999 17.2987C54.9999 17.1987 54.8999 17.1987 54.7999 17.1987ZM14.4999 56.2987H53.4999C54.6312 56.3239 55.7079 56.7904 56.4999 57.5987C56.5072 57.9947 56.4346 58.3881 56.2865 58.7554C56.1383 59.1227 55.9176 59.4563 55.6375 59.7364C55.3575 60.0164 55.0238 60.2371 54.6566 60.3853C54.2893 60.5334 53.8959 60.606 53.4999 60.5987H14.4999C14.1039 60.606 13.7105 60.5334 13.3432 60.3853C12.976 60.2371 12.6423 60.0164 12.3623 59.7364C12.0822 59.4563 11.8615 59.1227 11.7133 58.7554C11.5652 58.3881 11.4926 57.9947 11.4999 57.5987C11.8798 57.1825 12.3436 56.8515 12.8607 56.6274C13.3777 56.4033 13.9364 56.2913 14.4999 56.2987Z" fill="#173752" />
                        </svg>
                    </div>
                    <div class="ms-3">
                        <p class="text-uppercase">Fitness Center</p>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <!--Room Table-->
    <div class="table-container" style="margin-top:10%;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">ROOM NUMBER</th>
                    <th scope="col">STATUS</th>
                    <th scope="col"> </th>
                </tr>
            </thead>

            <!--Row 1-->
            <tbody>
                <tr>
                    <th scope="row"><input type="checkbox"></th>
                    <td>10</td>
                    <td><button class="btn btn-primary btn-sm tdbtn" style="border-radius: 15px 15px 15px 15px; background: #2067A1; border: 2px solid">Booked</button></td>
                    <td></td>
                </tr>

                <!--Row 2-->
                <tr>
                    <th scope="row"><input type="checkbox"></th>
                    <td>12</td>
                    <td><button class="bg-white btn btn-sm" style="border-radius: 15px 15px 15px 15px;  border: 1px solid; border-color:black; color:black">Available</button></td>
                    <td></td>
                </tr>

                <!--Row 3-->
                <tr>
                    <th scope="row"><input type="checkbox"></th>
                    <td>19</td>
                    <td><button class="btn btn-primary btn-sm tdbtn" style="border-radius: 15px 15px 15px 15px; background: #2067A1; border: 2px solid">Booked</button></td>
                    <td></td>
                </tr>

                <!--Row 4-->
                <tr>
                    <th scope="row"><input type="checkbox"></th>
                    <td>21</td>
                    <td><button class="bg-white btn btn-sm" style="border-radius: 15px 15px 15px 15px;  border: 1px solid; border-color:black; color:black">Available</button></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    
</div>