@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Manager";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>How To Create Bootstrap 5 Modal Form Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://www.markuptag.com/bootstrap/5/css/bootstrap.min.css" />
</head>
<body>
    <!-- Click on Modal Button -->
    <button type="button" class="btn btn-primary mx-auto d-block mt-5" data-bs-toggle="modal" data-bs-target="#modalForm">
        Bootstrap Modal popup
    </button>

    <!-- Modal -->
    <div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add a Hotel</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">

                            <input type="text" class="form-control" id="Add Hotel Photo" name="Add Hotel Photo" placeholder="Add Hotel Photo" />
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="Hotel Name" name="Hotel Name" placeholder="Hotel Name" />
                        </div>
                        <div class="mb-3">


                            <div>
                                <input type="text" class="form-control" id="Street Address" name="Street Address" placeholder="Street Address" />
                                <i class='bx bxs-pencil'></i>
                            </div>

                        </div>
                        <div class="mb-3">

                            <input type="text" class="form-control" id="City" name="City" placeholder="City" />
                        </div>
                        <div class="mb-3">

                            <input type="text" class="form-control" id="State" name="State" placeholder="State" />
                        </div>

                        <div class="form-outline">
                            <textarea class="form-control" id="textAreaExample" name="Description" placeholder="Description" rows="4"></textarea>
                        </div>

                        <div class="mb-3">

                            <input type="text" class="form-control" id="Date Hotel Created" name="Date hotel Created" placeholder="Date Hotel Created" />
                        </div>
                        <div class="mb-3">
                            <div>
                                <input type="text" class="form-control" id="Hotel Type" name="Hotel Type" placeholder="Hotel Type" />
                            </div>

                        </div>
                        <div class="mb-3 form-check">

                            <button type="submit" class="btn btn-warning float-end">Next</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://www.markuptag.com/bootstrap/5/js/bootstrap.bundle.min.js"></script>
</body>
</html>
