@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     ViewData["Title"] = "Transactions";
}

<div class="container-fluid mt-5 p-3">
    <div class="row">
        <div class="card">
            <div class="card-body">

                <div id="transaction mb-5">
                    <div id="search-bar-row">
                        <div class="d-sm-flex d-md-flex d-lg-flex justify-content-between flex-nowrap">
                            <div id="search-bar-row">

                                <div class="first-col">
                                    <form class="d-none d-sm-none d-sm-flex d-md-flex d-lg-flex">
                                        <img src="~/images/strawberry menu.png" style="height:20px">
                                        <div class="bg-#2067A1; px-4">
                                            <i class='bx bx-search'></i>
                                            <input type="text" id="search" name="search" Placeholder="Search">
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="second-third-col"></div>
                </div>



                <div id="label-row">

                    <table class="table table-striped mt-4">
                        <thead>
                            <tr>
                                <th scope="col"><input type="checkbox"></th>
                                <th scope="col">NAME<img src="~/images/up-down.png" style="height:20px"></th>
                                <th scope="col">DESCRIPTION</th>
                                <th scope="col">RATE</th>
                                <th scope="col">BALANCE</th>
                                <th scope="col">DEPOSITE</th>
                                <th scope="col">STATUS<img src="~/images/up-down.png" style="height:20px"></th>
                                <th scope="col"><img src="~/images/three dots.png" style="height:20px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><input type="checkbox"></th>
                                <td>Mark Kenneth</td>
                                <td>Lorem ipsum dolor sit amet, consecture ......</td>
                                <td>70.00<br>NR</td>
                                <td style="color:red">-70.00<br><p style="color:black">NR</p></td>
                                <td>500.00<br>NR</td>
                                <td><button class="btn btn-primary btn-sm tdbtn" style="border-radius: 15px 15px 15px 15px; border: 2px solid">Active</button></td>
                                <th scope="col">
                                    <img src="~/images/editpencil.png" style="height:20px">
                                    <img src="~/images/delete bin.png" style="height:20px">
                                    <img src="~/images/three dots.png" style="height:20px">
                                </th>
                            </tr>
                            <tr>
                                <th scope="row"><input type="checkbox"></th>
                                <td>French Mail</td>
                                <td>Lorem ipsum dolor sit amet, consecture ......</td>
                                <td>70.00<br>NR</td>
                                <td style="color:green">700.00<br><p style="color:black">NR</p></td>
                                <td>500.00<br>NR</td>
                                <td><button class="bg-white btn btn-sm" style="border-radius: 15px 15px 15px 15px; border: 1px solid; border-color:black; color:black">InActive</button></td>
                                <th scope="col">
                                    <img src="~/images/editpencil.png" style="height:20px">
                                    <img src="~/images/delete bin.png" style="height:20px">
                                    <img src="~/images/three dots.png" style="height:20px">
                                </th>
                            </tr>
                            <tr>
                                <th scope="row"><input type="checkbox"></th>
                                <td>Mark Kenneth</td>
                                <td>Lorem ipsum dolor sit amet, consecture ......</td>
                                <td>70.00<br>NR</td>
                                <td style="color:red">-20.00<br><p style="color:black">NR</p></td>
                                <td>500.00<br>NR</td>
                                <td><button class="btn btn-primary btn-sm" style="border-radius: 15px 15px 15px 15px; border:2px solid">Active</button></td>
                                <th scope="col">
                                    <img src="~/images/editpencil.png" style="height:20px">
                                    <img src="~/images/delete bin.png" style="height:20px">
                                    <img src="~/images/three dots.png" style="height:20px">
                                </th>
                            </tr>

                            <tr>
                                <th scope="row"><input type="checkbox"></th>
                                <td>Mark Kenneth</td>
                                <td>Lorem ipsum dolor sit amet, consecture ......</td>
                                <td>70.00<br>NR</td>
                                <td style="color:green">70.00<br><p style="color:black">NR</p></td>
                                <td>5000.00<br>NR</td>
                                <td><button class="bg-white btn btn-sm" style="border-radius: 15px 15px 15px 15px;  border: 1px solid; border-color:black; color:black">InActive</button></td>
                                <th scope="col">
                                    <img src="~/images/editpencil.png" style="height:20px">
                                    <img src="~/images/delete bin.png" style="height:20px">
                                    <img src="~/images/three dots.png" style="height:20px">
                                </th>
                            </tr>
                        </tbody>
                    </table>

                </div> <!-- END label row -->



                <div class="row">
                    <div class="col-md-7">
                        <p id="ftp01">ACTIVE CUSTOMERS: 479/706</p>
                    </div>

                    <div class="col-md-2">
                        <p> Rows Per Page:10</p>

                    </div>


                    <div class="col-md-2">
                        <p>1-10 of 760</p>
                    </div>

                    <div class="col-md-1 mb-5">
                        <img src="~/images/left angle bracket.png" style="height:20px;">
                        <img src="~/images/right angle bracket.png" style="height:20px;">
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>