@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     ViewData["Title"] = "Transactions";
}

<<<<<<< HEAD
<div class="container  mt-5">
    <div class="bg-white p-3">
        <table class="table bg-white p-2 table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Hotel Name</th>
                    <th scope="col">BookingId</th>
                    <th scope="col">Tx Reference</th>
                    <th scope="col">Payment Method</th>
                    <th scope="col">Amount (₦)</th>
                    <th scope="col">Tx Date</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Emmanuel Ovie</td>
                    <td>De Crussiers Hotels</td>
                    <td>Bk-245636</td>
                    <td>TX-567890</td>
                    <td>Cash</td>
                    <td>50689.00</td>
                    <td>12/10/2021</td>
                    <td><span class="badge rounded-pill bg-success text-white-50">Paid</span></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Olawale Raymond</td>
                    <td>Royal Hotels</td>
                    <td>Bk-246736</td>
                    <td>TX-566690</td>
                    <td>Debit Card</td>
                    <td>78656.00</td>
                    <td>14/10/2021</td>
                    <td><span class="badge rounded-pill bg-success text-white-50">Paid</span></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Yusuf Fisayo</td>
                    <td>Palace Royals</td>
                    <td>Bk-445636</td>
                    <td>TX-997890</td>
                    <td>Debit Card</td>
                    <td>56789.00</td>
                    <td>14/10/2021</td>
                    <td><span class="badge rounded-pill bg-success text-white-50">Paid</span></td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Paulson Sunday</td>
                    <td>Gogo Place</td>
                    <td>Bk-245636</td>
                    <td>TX-567890</td>
                    <td>Debit Card</td>
                    <td>9089.00</td>
                    <td>14/10/2021</td>
                    <td><span class="badge rounded-pill bg-warning text-white-50">Pending</span></td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Frederick Holand</td>
                    <td>Sapa Hotel</td>
                    <td>Bk-245636</td>
                    <td>TX-567890</td>
                    <td>Debit Card</td>
                    <td>56780.00</td>
                    <td>14/10/2021</td>
                    <td><span class="badge rounded-pill bg-success text-white-50">Paid</span></td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Reuben Sadders</td>
                    <td>Green Hills Gardens</td>
                    <td>Bk-245636</td>
                    <td>TX-567890</td>
                    <td>Debit Card</td>
                    <td>45657.00</td>
                    <td>14/10/2021</td>
                    <td><span class="badge rounded-pill bg-danger text-white-50">Failed</span></td>
                </tr>
            </tbody>
        </table>
        <div class="container d-flex justify-content-center">
            <nav aria-label="Page navigation d-flex align-center">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div> 
    

=======
<<<<<<< HEAD

<div class="container mt-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Hotel Name</th>
                <th scope="col">BookingId</th>
                <th scope="col">Transaction Reference</th>
                <th scope="col">Payment Method</th>
                <th scope="col">Amount (₦)</th>
                <th scope="col">Transaction Date</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Emmanuel Ovie</td>
                <td>De Crussiers Hotels</td>
                <td>Bk-245636</td>
                <td>TX-567890</td>
                <td>Cash</td>
                <td>50689.00</td>
                <td>12/10/2021</td>
                <td><span class="badge rounded-pill bg-success">Paid</span></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Olawale Raymond</td>
                <td>Royal Hotels</td>
                <td>Bk-246736</td>
                <td>TX-566690</td>
                <td>Debit Card</td>
                <td>78656.00</td>
                <td>14/10/2021</td>
                <td><span class="badge rounded-pill bg-success">Paid</span></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Yusuf Fisayo</td>
                <td>Palace Royals</td>
                <td>Bk-445636</td>
                <td>TX-997890</td>
                <td>Debit Card</td>
                <td>56789.00</td>
                <td>14/10/2021</td>
                <td><span class="badge rounded-pill bg-success">Paid</span></td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Paulson Sunday</td>
                <td>Gogo Place</td>
                <td>Bk-245636</td>
                <td>TX-567890</td>
                <td>Debit Card</td>
                <td>9089.00</td>
                <td>14/10/2021</td>
                <td><span class="badge rounded-pill bg-warning">Pending</span></td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Frederick Holand</td>
                <td>Sapa Hotel</td>
                <td>Bk-245636</td>
                <td>TX-567890</td>
                <td>Debit Card</td>
                <td>56780.00</td>
                <td>14/10/2021</td>
                <td><span class="badge rounded-pill bg-success">Paid</span></td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Reuben Sadders</td>
                <td>Green Hills Gardens</td>
                <td>Bk-245636</td>
                <td>TX-567890</td>
                <td>Debit Card</td>
                <td>45657.00</td>
                <td>14/10/2021</td>
                <td><span class="badge rounded-pill bg-danger">Failed</span></td>
            </tr>
        </tbody>
    </table>
    <div class="container d-flex justify-content-center">
        <nav aria-label="Page navigation d-flex align-center">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    
=======
<div class="container-fluid mt-5 p-3">
    <div class="row">
        <div class="card">
            <div class="card-body">

                <div id="transaction mb-5">
                    <div id="search-bar-row">
                        <div class="d-sm-flex d-md-flex d-lg-flex justify-content-between flex-nowrap">
                            <div id="search-bar-row">

                                <div class="first-col">
                                    <form class="d-none d-sm-none d-sm-flex d-md-flex d-lg-flex">
                                        <img src="~/images/strawberry menu.png" style="height:20px">
                                        <div class="bg-#2067A1; px-4">
                                            <i class='bx bx-search'></i>
                                            <input type="text" id="search" name="search" Placeholder="Search">
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="second-third-col"></div>
                </div>



                <div id="label-row">

                    <table class="table table-striped mt-4">
                        <thead>
                            <tr>
                                <th scope="col"><input type="checkbox"></th>
                                <th scope="col">NAME<img src="~/images/up-down.png" style="height:20px"></th>
                                <th scope="col">SERVICE NAME</th>
                                <th scope="col">TRANSACTION REFERENCE</th>
                                <th scope="col">STATUS<img src="~/images/up-down.png" style="height:20px"></th>
                                <th scope="col">AMOUNT(&#8358)</th>
                                <th scope="col">COMMISSION(&#8358)</th>
                                <th scope="col"><img src="~/images/three dots.png" style="height:20px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><input type="checkbox"></th>
                                <td>Mark Kenneth</td>
                                <td>Lorem ipsum</td>
                                <td>17653-61738rt4-378389</td>
                                <td><button class="btn btn-primary btn-sm tdbtn" style="border-radius: 15px 15px 15px 15px; border: 2px solid">Active</button></td>
                                <td style="color:red">-70.00</td>
                                <td>500.00</td>
                                <th scope="col">
                                    <img src="~/images/editpencil.png" style="height:20px">
                                    <img src="~/images/delete bin.png" style="height:20px">
                                    <img src="~/images/three dots.png" style="height:20px">
                                </th>
                            </tr>
                            <tr>
                                <th scope="row"><input type="checkbox"></th>
                                <td>French Mail</td>
                                <td>Lorem ipsum</td>
                                <td>17653-61738rt4-378389</td>
                                <td><button class="bg-white btn btn-sm" style="border-radius: 15px 15px 15px 15px; border: 1px solid; border-color:black; color:black">InActive</button></td>
                                <td style="color:green">700.00</td>
                                <td>500.00</td>
                                <th scope="col">
                                    <img src="~/images/editpencil.png" style="height:20px">
                                    <img src="~/images/delete bin.png" style="height:20px">
                                    <img src="~/images/three dots.png" style="height:20px">
                                </th>
                            </tr>
                            <tr>
                                <th scope="row"><input type="checkbox"></th>
                                <td>Mark Kenneth</td>
                                <td>Lorem ipsum</td>
                                <td>17653-61738rt4-378389</td>
                                <td><button class="btn btn-primary btn-sm" style="border-radius: 15px 15px 15px 15px; border:2px solid">Active</button></td>
                                <td style="color:red">-20.00</td>
                                <td>500.00</td>
                                <th scope="col">
                                    <img src="~/images/editpencil.png" style="height:20px">
                                    <img src="~/images/delete bin.png" style="height:20px">
                                    <img src="~/images/three dots.png" style="height:20px">
                                </th>
                            </tr>

                            <tr>
                                <th scope="row"><input type="checkbox"></th>
                                <td>Mark Kenneth</td>
                                <td>Lorem ipsum</td>
                                <td>17653-61738rt4-378389</td>
                                <td><button class="bg-white btn btn-sm" style="border-radius: 15px 15px 15px 15px;  border: 1px solid; border-color:black; color:black">InActive</button></td>
                                <td style="color:green">70.00</td>
                                <td>5000.00</td>

                                <th scope="col">
                                    <img src="~/images/editpencil.png" style="height:20px">
                                    <img src="~/images/delete bin.png" style="height:20px">
                                    <img src="~/images/three dots.png" style="height:20px">
                                </th>
                            </tr>
                        </tbody>
                    </table>

                </div> <!-- END label row -->



                <div class="row">
                    <div class="col-md-7">
                        <p id="ftp01">ACTIVE CUSTOMERS: 479/706</p>
                    </div>

                    <div class="col-md-2">
                        <p> Rows Per Page:10</p>

                    </div>


                    <div class="col-md-2">
                        <p>1-10 of 760</p>
                    </div>

                    <div class="col-md-1 mb-5">
                        <img src="~/images/left angle bracket.png" style="height:20px;">
                        <img src="~/images/right angle bracket.png" style="height:20px;">
                    </div>

                </div>


            </div>
        </div>
    </div>
>>>>>>> ef0a1817f452b784da51443168d384d07cc4d58d
</div>
>>>>>>> reviews
