<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        .recovery-instruction {
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            color: #2067A1;
        }
        img{
            padding-left:50px;
        }
        .content-area {
            width: 498px;
            height: 624px;
        }
        body {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            background-color: #F6FCFF
        }
        .form-control {
            height: 65px;
        }
        .btn-lg {
            background-color: #2067A1;
            height: 65px;
            color: #FFF
        }
    </style>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
