@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    #new-name {
        Font-family: Aribau Grotesk;
        Font-style: normal;
        Font-size: 40px;
        text-align: Left;
        Vertical-align: Top
    }
</style>
<div class="content-container">
    <div class="d-flex align-items-center mb-0">
        <h1 id="new-name">Managers</h1>
    </div>
    <span class="user-plus">
        <i class="fa fa-user-plus" aria-hidden="true"></i>
    </span>
    <div class="d-flex flex-row justify-content-between m-0">
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Hotel: Radison Blu Hotels</p>
                    <p class="card-text">Mobile: 08032342134</p>
                    <p class="card-text">Email: angelo.a@email.com</p>
                    <p class="card-text">Address: 23 Ohen Strret, Edo</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Hotel: Radison Blu Hotels</p>
                    <p class="card-text">Mobile: 08032342134</p>
                    <p class="card-text">Email: angelo.a@email.com</p>
                    <p class="card-text">Address: 23 Ohen Strret, Edo</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Hotel: Radison Blu Hotels</p>
                    <p class="card-text">Mobile: 08032342134</p>
                    <p class="card-text">Email: angelo.a@email.com</p>
                    <p class="card-text">Address: 23 Ohen Strret, Edo</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>

            <table class="table table-striped">
                <tr>
                    <th><input type="checkbox" /></th>
                    <th>Manager Name</th>
                    <th>Hotel</th>
                    <th>Phone</th>
                    <th>...</th>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Kadin Herwitz
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur
                    </td>
                    <td>66666666</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Cristofer Korsgaard
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur
                    </td>
                    <td>77877777</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Kadin Herwitz
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur
                    </td>
                    <td>66666666</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Cristofer Korsgaard
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur
                    </td>
                    <td>77877777</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Kadin Herwitz
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur
                    </td>
                    <td>66666666</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Cristofer Korsgaard
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur
                    </td>
                    <td>77877777</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Kadin Herwitz
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur
                    </td>
                    <td>66666666</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Cristofer Korsgaard
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur
                    </td>
                    <td>77877777</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Kadin Herwitz
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur
                    </td>
                    <td>66666666</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Cristofer Korsgaard
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur
                    </td>
                    <td>77877777</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Kadin Herwitz
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur
                    </td>
                    <td>66666666</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Cristofer Korsgaard
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur
                    </td>
                    <td>77877777</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Kadin Herwitz
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur
                    </td>
                    <td>66666666</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Cristofer Korsgaard
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur
                    </td>
                    <td>77877777</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Kadin Herwitz
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur   
                    </td>
                    <td>66666666</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td><input type="checkbox" /></td>
                    <td>
                        Cristofer Korsgaard
                        5684236583
                    </td>
                    <td>
                        Lorem ipsum dolor sit
                        amet, consecteur
                    </td>
                    <td>77877777</td>
                    <td>...</td>
                </tr>




            </table>
           
        </div>
</div>

</div>