@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        <div class="col">
            <img class="img-fluid" src="https://res.cloudinary.com/techtheriac/image/upload/v1633978036/decagon/Rectangle_617_ubgzzs.png" />
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="rooms-tab" data-bs-toggle="tab" data-bs-target="#rooms" type="button" role="tab" aria-controls="rooms" aria-selected="true">Rooms</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#reviews" type="button" role="tab" aria-controls="reviews" aria-selected="false">Reviews</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#amenities" type="button" role="tab" aria-controls="contact" aria-selected="false">Amenities</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="rooms" role="tabpanel" aria-labelledby="home-tab">



                                <div class="d-flex justify-content-between w-100 mt-4">
                                    <h6 class="mt-3">Room types</h6>

                                    <div class="wrapper__action_buttons d-flex flex-row align-self-end">
                                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteHotelModal">
                                            Delete <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 25 25" fill="none">
                                                <g clip-path="url(#clip0)">
                                                    <path d="M21.9579 0.778164L24.2236 3.04359C25.2587 4.0787 25.2586 5.76277 24.2236 6.79788C23.2489 7.77244 8.36227 22.658 7.36744 23.6527C7.26149 23.7587 7.12067 23.8297 6.98292 23.855L0.865747 24.9877C0.62859 25.0316 0.384987 24.956 0.214432 24.7854C0.0436802 24.6147 -0.0317593 24.371 0.0121365 24.1342L1.14499 18.0175C1.17136 17.8762 1.24304 17.7372 1.34729 17.633L18.2034 0.778164C19.2409 -0.259335 20.9203 -0.25948 21.9579 0.778164ZM1.64661 23.3534L5.34699 22.6682L2.33186 19.6533L1.64661 23.3534ZM2.90105 18.1509L6.84948 22.0991L21.2651 7.68455L17.3166 3.73636L2.90105 18.1509ZM19.2392 1.81395L18.3524 2.70062L22.3009 6.64881L23.1877 5.76214C23.6516 5.29822 23.6517 4.54339 23.1877 4.07938L20.9221 1.81395C20.457 1.34887 19.7043 1.34887 19.2392 1.81395Z" fill="#FF8788" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0">
                                                        <rect width="25" height="25" fill="white" transform="matrix(0 -1 -1 0 25 25)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </button>
                                        <button type="button" class="btn btn-outline-dark ms-2" data-bs-toggle="modal" data-bs-target="#editHotelModal">
                                            Add <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 25 25" fill="none">
                                                <g clip-path="url(#clip0)">
                                                    <path d="M21.9579 0.778164L24.2236 3.04359C25.2587 4.0787 25.2586 5.76277 24.2236 6.79788C23.2489 7.77244 8.36227 22.658 7.36744 23.6527C7.26149 23.7587 7.12067 23.8297 6.98292 23.855L0.865747 24.9877C0.62859 25.0316 0.384987 24.956 0.214432 24.7854C0.0436802 24.6147 -0.0317593 24.371 0.0121365 24.1342L1.14499 18.0175C1.17136 17.8762 1.24304 17.7372 1.34729 17.633L18.2034 0.778164C19.2409 -0.259335 20.9203 -0.25948 21.9579 0.778164ZM1.64661 23.3534L5.34699 22.6682L2.33186 19.6533L1.64661 23.3534ZM2.90105 18.1509L6.84948 22.0991L21.2651 7.68455L17.3166 3.73636L2.90105 18.1509ZM19.2392 1.81395L18.3524 2.70062L22.3009 6.64881L23.1877 5.76214C23.6516 5.29822 23.6517 4.54339 23.1877 4.07938L20.9221 1.81395C20.457 1.34887 19.7043 1.34887 19.2392 1.81395Z" fill="black" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0">
                                                        <rect width="25" height="25" fill="white" transform="matrix(0 -1 -1 0 25 25)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </button>
                                    </div>
                                </div>

                        @{
                            for (int i = 0; i < 3; i++)
                            {
                                                <div class="card mt-4">
                                                    <div class="row">
                                                        <div class="col-12 col-md-5">
                                                            <img class="img-fluid" src="https://images.unsplash.com/photo-1521783988139-89397d761dce?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=100" />
                                                        </div>
                                                        <div class="col-12 col-md-7">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Standard room</h5>
                                                                <div class="color__black__override">
                                                                    <small>size: 21m</small>
                                                                    <small class="mx-2">|</small>
                                                                    <small> <i class='bx bxs-user'></i> Max guests: 2 Adults, 1 Child</small>
                                                                </div>
                                                                <p class="color__black__override mt-2">
                                                                    Our Standard Rooms with a king bed make a comfortable home away from home. After a round at Ikeja Golf Club, return to your room and enjoy a drink from the mini refrigerator while you watch your favorite TV show. Hungry for a midnight snack or an early breakfast? You can order something delicious from room service, which is available 24 hours. These standard amenities are also included:
                                                                </p>

                                                                <ul class="color__black__override">
                                                                    <li>Air Conditioning</li>
                                                                    <li>Satellite TV</li>
                                                                    <li>World Desk</li>
                                                                </ul>

                                                                <div class="d-flex flex-row justify-content-between align-items-end w-100">
                                                                    <div class="wrapper__icon__group color__black__override" style="font-size: 2em;">
                                                                        <i class='bx bx-wifi'></i>
                                                                        <i class='bx bx-desktop'></i>
                                                                        <i class='bx bxs-coffee'></i>
                                                                    </div>

                                                                    <div>
                                                                        <button class="btn btn-primary">N 2000 <br /> Per Night</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                            }
                        }
                    </div>
                    <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="profile-tab">
                        <h6 class="mt-3">Rating Overview</h6>
                        <div class="row">
                            <div class="col-12 col-md-4 mt-3">
                                <div class="flex flex-column">
                                    <div>
                                        <small>Staff</small>
                                        <div class="rating__bar__util w-100"></div>
                                    </div>

                                    <div class="mt-3">
                                        <small>Location</small>
                                        <div class="rating__bar__util w-100"></div>
                                    </div>

                                    <div class="mt-3">
                                        <small>Value for money</small>
                                        <div class="rating__bar__util w-100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 mt-3">
                                <div class="flex flex-column">
                                    <div>
                                        <small>Facilities</small>
                                        <div class="rating__bar__util w-100"></div>
                                    </div>

                                    <div class="mt-3">
                                        <small>Services</small>
                                        <div class="rating__bar__util w-100"></div>
                                    </div>

                                    <div class="mt-3">
                                        <small>Food</small>
                                        <div class="rating__bar__util w-100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 mt-3">
                                <div class="flex flex-column">
                                    <div>
                                        <small>Cleaniness</small>
                                        <div class="rating__bar__util w-100"></div>
                                    </div>

                                    <div class="mt-3">
                                        <small>Confort</small>
                                        <div class="rating__bar__util w-100"></div>
                                    </div>

                                    <div class="mt-3">
                                        <small>Rooms</small>
                                        <div class="rating__bar__util w-100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex w-100 justify-content-between mt-4">
                            <h5>Recent Guest Review</h5>
                            <div>
                                <b>Guest Rating</b>

                            </div>
                        </div>

                        <div>
                            @{
                                for (int i = 0; i < 4; i++)
                                {
                                                    <div class="card mt-4">
                                                        <div class="row">
                                                            <div class="col-12 col-md-2">
                                                                <div class="d-flex flex-column mt-3 ms-4">
                                                                    <img src="https://images.unsplash.com/photo-1527980965255-d3b416303d12?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=880&q=80"
                                                             class="rounded-circle"
                                                             width="75"
                                                             height="75" />
                                                                    <span class="color__black__override">Katrina Jade</span>
                                                                </div>
                                                            </div>

                                                            <div class="col-12 col-md-10">
                                                                <div class="card-body">
                                                                    <div>
                                                                        <h5 class="card-title">"Best Hotel in Lagos"</h5>
                                                                        <div class="color__black__override">
                                                                            <span>
                                                                @{
                                                                    for (int j = 0; j < 5; j++)
                                                                    {
                                                                                                        <i class='bx bxs-star'></i>
                                                                    }
                                                                }
                                                                            </span>
                                                                            <span class="mx-2">|</span>
                                                                            <span><b>Reviewed: </b> <small>2021-06-12</small></span>
                                                                        </div>
                                                                    </div>

                                                                    <p class="w-80 mt-4 color__black__override">
                                                                        Stayed here for 20 nights in March 2019. have been working in and around Lagos for the past 4 year-end this is by far the best hotel I have stayed in. The rooms, staff, cleanliness, internet and comfort offered by this hotel are second to none. I am currently (unfortunately) staying across the road in the Sheraton. Not a scratch on the Raddison Blu and so I will be returning there in June for another 20 nights!
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="tab-pane fade" id="amenities" role="tabpanel" aria-labelledby="contact-tab">
                        <h3>Amenities</h3>
                        <div class="row">
                            <div class="col">
                                <table class="table table-striped">
                                      <thead>
                                        <tr>
                                          <th scope="col">#</th>
                                          <th scope="col">Amenity</th>
                                          <th scope="col">...</th>
                                        </tr>
                                      </thead>

                                      <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            @*<td>@mdo</td>*@
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            @*<td>@fat</td>*@
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td colspan="2">Larry the Bird</td>
                                            @*<td>@twitter</td>*@
                                        </tr>
                                      </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>