 @*@model*@
<div class="container">
    <div class="row d-flex justify-content-center align-content-center">
        <div class="col-sm-10 col-md-8 col-lg-6">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="~/images/Message Sent.svg" class="images" alt="Message sent icon" />
                </div>
                <div class="col-12">
                    <p class="text-center">
                        Verify your account by entering the 6 digit token sent your registered email.
                    </p>
                </div>
                <div class="col-12">
                    <form class="form" method="post" asp-action="ForgotPassword">
                        <div class="form-group mb-2">
                            <input type="text" class="form-control form-control-lg" placeholder="Token       ******" required id="email" name="email" />
                        </div>
                        <button type="submit" class="btn btn-block btn-lg btn-primary h-50 w-100">Send Code</button>
                        <p class="text-center recovery-instruction mt-4">@ViewBag.Data</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>