@*@model*@



@{ ViewData["Title"] = "Forgot PassWord";
}
<div class="container">
    <div class="row d-flex justify-content-center align-content-center">
        <div class="col-sm-10 col-md-8 col-lg-6">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="~/images/Searching - Looking.svg" class="images" alt="Search icon" />
                </div>
                <div class="col-12">
                    <p class="text-center">
                        Enter your registered email to get a token that would
                        be needed to reset your password in the next step.
                    </p>
                </div>
                <div class="col-12">
                    <form class="form" method="post" asp-action="ForgotPassword">
                        <div class="form-group mb-2">
                            <input type="text" class="form-control form-control-lg" placeholder="Email: example@email.com" required id="email" name="email" />
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-lg h-50 w-100">Send Code</button>
                        <p class="text-center recovery-instruction mt-4">@ViewBag.Data</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



