@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     ViewData["Title"] = "Signup";
}


<div class="mb-3">
    <h5 class="lead">Sign Up</h5>
</div>
<div class="row mx-0 my-0">
    <div class="col-sm-0 col-lg-4">
        <img src="~/img/SignUp.jpg" alt="login" class="img-fluid" />
    </div>

    <div class="col-sm-12 col-lg-8  mt-4">

        <div class="container">
            <div class="row mx-auto justify-content-center mt-4">
                <div class="col-sm-12 col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <form method="post" asp-action="">
                                <div class="form-group">
                                    <input name="Firstname" class="form-control" placeholder="Firstname" required />
                                    <span name="Firstname" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input name="Lastname" class="form-control" placeholder="Lastname" required />
                                    <span name="Lastname" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input name="Email" class="form-control" placeholder="Email" required />
                                    <span name="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input name="Password" class="form-control" placeholder="Password" required />
                                    <span name="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="signup" class="btn btn-primary btn-block" />
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>

